name: Run

on:
  workflow_dispatch:
  push:
#  schedule:
#    - cron: "*/15 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Run
        run: deno task start
        env:
          OYASUMI_START: ${{ vars.OYASUMI_START }}
          OYASUMI_END: ${{ vars.OYASUMI_END }}
          MASTODON_HOST: ${{ vars.MASTODON_HOST }}
          MASTODON_TOKEN: ${{ secrets.MASTODON_TOKEN }}
